*{
	margin:0;
	padding:0;

	
}

html, body{
	height:100%;
}

body{
	background-color:#D98DA2;
	background-image: url('background.png.png');
	background-position:center;
	background-size:cover;
	background-blend-mode:soft-light;
}

.navbar {
	overflow: hidden;
	background-color: #C85D7A;
	margin:auto;
	position: absolute;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  	font-family:sans-serif;
}

.navbar a:hover {

	background-color:rgba(255,255,255,1);
	color:#C85D7A;
	cursor:pointer;

	transition: background-color 1000ms, color 1000ms;		
}

.heading{
	width:800px;
	height:425px;
	margin: 100px auto;
	position: absolute;
	top:0px; bottom:0px; right:0px; left:0px;
	background-color: #D98DA2;
	border-radius: 7px;
	border:3px solid white;
	

}

.title{
	display: block;
	margin-top: 15px;
	margin-bottom:15px;
	text-align: center;
	color:white;
	font-size:50pt;
	font-family:big john;
 	
}
.subtitle{
	display:block;
	margin-top:15px;
	text-align: center;
	color:white;
	font-size:14pt;
	font-family:serif;
	text-decoration: underline;
}

.section{
	display:block;
	margin-top:15px;
	text-align: center;
	color:white;
	font-size:20pt;
	font-family:big john;	
}

.words{
	display:block;
	margin-top:15px;
	padding: 20px;
	text-align: center;
	color:white;
	font-size: 19px;
	font-family:sans-serif;	
}